<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <meta name="author" content="{{ site.author.name }}">
        <title>{{ page.title | default(site.title) }}</title>
        {% block meta %}{% endblock %}
        <link href="/res/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="/res/style.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div id="wrap">
            {% include 'nav.html' %}
            
            <div class="container">
                {% block content %}
                    {{ content }}
                {% endblock %}
            </div>
        </div>
            
        <footer id="footer">
            <div class="container">
                <p class="text-muted credit">
                Spresso theme. 
                Powered by <a href="https://github.com/yosymfony/Spress/">Spress</a>.
                </p>
            </div>
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="/res/bootstrap/js/bootstrap.min.js"></script>
            {% block javascript %}{% endblock %}
        </footer>
    </body>
</html>